<div class="container py-3">
  <header class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
      <span class="fs-4">{{nombreEmpresa}}</span>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">Inicio</a>
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">Nosotros</a>
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">Paquetes</a>
      <a class="py-2 text-dark text-decoration-none" href="#">Contacto</a>
    </nav>
  </header>

  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">{{titulo | uppercase }}</h1>
    <p class="fs-5 text-muted">Esto son los paquetes que te ofrecemos para incrementar tu negocio</p>
  </div>

  <main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col" *ngFor = "let pack of paquetes">
        <div class="card mb-4 rounded-3 shadow-sm" >
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">{{pack.titulo}}</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{pack.precio | currency:'EUR' : 'symbol' : '.0-0' }}<small
                class="text-muted fw-light">{{pack.mes | lowercase}}</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>{{pack.d1}}</li>
              <li>{{pack.d2}}</li>
              <li>{{pack.d3}}</li>
              <li>{{pack.d4}}</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Adquirir</button>
          </div>
        </div>
      </div>
    </div>
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">
        <div class="col-12 col-md">
          <small class="d-block mb-3 text-muted">&copy;{{fecha | date:'yyyy'}}</small>
        </div>
        <div class="col-6 col-md">
          <h5>Menu</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Cool stuff</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Random feature</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team feature</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Stuff for developers</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another one</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Last time</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </main>
</div>